

body {
    background-color: #d9d9d9;
    min-width: 420px;
    font-family: 'Source Sans Pro', sans-serif;

}
/* quizlet colors purple #4257b2, yellow #ffcd1f, blue #3ccfcf, grey #455358 background grey #d9d9d9;
*/
.coding-quiz {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    max-width: 768px;
}

.heading {
    text-align: center;
    background-color: #4257b2;
    color: #fff;
    height: 70px;
}

.heading-text {
    padding: 16px;
}

.quiz-text {
    text-align: center;
    color: #455358;
    font-size: 20px;
    text-align: right;
}

.timer {
    width: 100%;
    text-align: right;
}

.buttons {
    margin-top: 10px;
    margin-bottom: 5px;
}

.start-quiz-btn {
    margin-right: 20px;
}

.highscores-btn {
    margin-left: 20px;
}

@media only screen and (max-width: 575px) {
    .buttons {
        margin: 5px;
    }
}